* {
  box-sizing: border-box;
}

h1 {
    font-family: sans-serif;
    color: #3b778a;
    margin: 1rem auto;
    font-size: smaller;
    border-bottom: solid 1px gray;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #883898;
}

main {
    min-height: 100vh;
    width: 960px;
    margin: 0 auto;
    background-color: white;
    padding: 0.5em;
    box-shadow: 5px 5px 10px #333;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.flash {
    border: solid darkred 3px;
    border-radius: 0.4rem;
    background-color: pink;
    padding: 0.2rem;
}

#translation {
    background-color: floralwhite;
    padding: 2px;
}

#translation textarea {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
}

#translation.loading textarea {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/38/Loading_indicator.gif);
}

p {
    margin-top: 2px;
}

p + p {
    margin-top: 1em;
}

input {
    width: 100%;
}


input[type="text"]:invalid {
    box-shadow: 0 0 5px 1px red;
}

input[type="text"]:valid {
    box-shadow: 0 0 5px 1px green;
}

.icon-language {
    static/oojs-ui/themes/mediawiki/images/icons
}

.oo-ui-icon-language {
    background-image:url(../oojs-ui-static/dist/themes/mediawiki/images/icons/language-ltr.png);
    background-image:-webkit-linear-gradient(transparent,transparent),
                     url(../oojs-ui-static/dist/themes/mediawiki/images/icons/language-ltr.svg);
    background-image:linear-gradient(transparent,transparent),
                     url(../oojs-ui-static/dist/themes/mediawiki/images/icons/language-ltr.svg);
    background-image:-o-linear-gradient(transparent,transparent),
                     url(../oojs-ui-static/dist/themes/mediawiki/images/icons/language-ltr.png)
}

.oo-ui-icon-translate {
    background-image:url(../oojs-ui-static/dist/themes/mediawiki/images/icons/arched-arrow-ltr-progressive.png);
    background-image:-webkit-linear-gradient(transparent,transparent),
                     url(../oojs-ui-static/dist/themes/mediawiki/images/icons/arched-arrow-ltr-progressive.svg);
    background-image:linear-gradient(transparent,transparent),
                     url(../oojs-ui-static/dist/themes/mediawiki/images/icons/arched-arrow-ltr-progressive.svg);
    background-image:-o-linear-gradient(transparent,transparent),
                     url(../oojs-ui-static/dist/themes/mediawiki/images/icons/arched-arrow-ltr-progressive.png)
}

#translation {
    height: 100%;
}


#form2 {
    height: 100%;
}

#form2 textarea, #form2 div {
    height: 100%;
}

#form2 .oo-ui-fieldLayout-body {
    height: 100%;
    display: grid;
    grid-template-rows: max-content auto;
}


form.oo-ui-formLayout + form.oo-ui-formLayout {
  margin-top: 0;
}
