<!doctype html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Kääntäjä</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <main class="content">
      <header>
        <h1>Kääntäjä</h1>
      </header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      <div class="grid">
        <form method="post">
          <select name="language">
            <option value="en fi" {% if request.form['language'] == 'en fi' %} selected="selected"{% endif %}>englanti → suomi</option>
            <option value="fi en" {% if request.form['language'] == 'fi en' %} selected="selected"{% endif %}>suomi → englanti</option>
          </select>
          <textarea placeholder="Käännettävä teksti" id="text" name="text">{{ text }}</textarea>
          <input type="submit" value="Käännä">
        </form>
        <div id="translation">
          {% for paragraph in translation %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
      </div>
    </main>
  </body>
</html>
