<!doctype html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Kääntäjä</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- OOjs -->
    <script src="oojs-static/dist/oojs.min.js"></script>
    <!-- OOUI -->
    <script src="oojs-ui-static/dist/oojs-ui.min.js"></script>
    <!-- OOUI theme -->
    <script src="oojs-ui-static/dist/oojs-ui-mediawiki.min.js"></script>
    <link rel="stylesheet" href="oojs-ui-static/dist/oojs-ui-mediawiki.min.css">

  </head>
  <body>
    <main class="content">
      <header>
        <h1>Kääntäjä</h1>
      </header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      <div class="grid">
        <form method="post" name="translate">
          <datalist id="models">
            {% for entry in models %}
            <option>
                {{ entry['label'] }}
              </option>
            {% endfor %}
          </datalist>
          <input type="text" required autoComplete="on" list="models" name="language" value="{{ request.form['language'] or 'englanti - suomi' }}" />
          <textarea placeholder="Käännettävä teksti" id="text" name="text">{{ text }}</textarea>
          <input type="submit" value="Käännä">
        </form>
        <div id="translation">
          {% for paragraph in translation %}
          <p>{{ paragraph }}</p>
          {% endfor %}
        </div>
      </div>
      <p>
        Huom. Mallin vaihtamisen jälkeen ensimmäinen käännös yleensä kestää.
      </p>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ModelLookupTextInputWidget.js') }}"></script>
  </body>
</html>
